body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    align-items: center;
}
.sideBar{
    background: rgb(27, 29, 27);
}
.dropBtn{
    background: rgb(27, 29, 27);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.barSoc {
    position: relative;
    display: inline-block;
}
.socialMedia {
    display: none;
    position: absolute;
    background-color: teal;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.socialMedia a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.socialMedia a:hover {
    background-color: #f1f1f1;
}
.barSoc:hover .socialMedia {
    display: block;
}
.barSoc:hover .dropBtn {
    background: white;
    color: black;
}
.menu {
    background: green;
    position: relative;
    display: inline-block;
}
.menuContent {
    font-size: 27px;
    position: absolute;
    display: none;
    min-width: 18px;
}